{
    "HEADLINES_LIVERELOAD": 35730,
    "HEADLINES_DEV_HOST": "localhost",
    "HEADLINES_HTTP_IP": "0.0.0.0",
    "HEADLINES_HTTP_PORT": 8081,
    "HEADLINES_LOG": "headlines.log",
    "HEADLINES_LOG_LEVEL": "trace",
    "HEADLINES_FEED_CHECK_INTERVAL_MINUTES": 60
}
