a {
    color: #2176ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: #31393c;
    margin: 0;
    color: #fff;
}

button {
    text-transform: capitalize;
    padding: .5em;
    background-color: #C7EFCF;
    border: 0;
}

button:hover {
    cursor: pointer;
    background-color: #A3C4AA;
}

input[type=text] {
    width: 100%;
    padding: .5em;
    box-sizing: border-box;
}

label {
    display: block;
    font-size: .85em;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
}

#app {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

section > * {
    padding: .5em .5em 0;
}

section > [hidden] {
    padding: 0;
}

section > header {
}

#subscriptions {
    line-height: 1.5;
}

#subscriptions a {
    color: inherit;
    flex-grow: 1;
}

#subscriptions .actions {
    font-size: .85em;
    display: flex;
    justify-content: flex-start;
    color: #33a1fD;
}

#feed-detail {
    background-color: #fff;
    color: #000;
    grid-column-start: 2;
}

#feed-detail header {
    padding: .5em;
    background-color: #ffffcc;
}


#feed-detail li {
    margin-bottom: 1em;
}

.feeds {
    margin-top: 2em;
}

.feeds li {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-left: -.5em;
    margin-right: -.5em;
    padding: 1em 0.5em;
}

.feeds .meta {
    font-size: .75em;
    width: 100%;
}

.feeds .active {
    background-color: #d90368;
}

.field {
    margin-bottom: 1em;
}

.field:last-of-type {
    margin-bottom: 0;
}
