BODY {
}

MAIN {
    margin: 1em;
}

#entries {
    .entry {
        .border {
            border: 1px solid #ccc;
        }

        .inner {
            padding: .5em .5em 0 .5em;
        }

    }

    .domain {
        font-size: .75em;
    }

    .headline {
        display: block;
        height: 3em;
        overflow: hidden;
        margin-bottom: 2em;
    }

    .discussions {
        height: 3em;
        font-size: .8em;
    }

    .dates {
        font-size: .75em;
        padding-bottom: .5em;
    }

    .button-group {
        margin-bottom: -1.25em;

        LI {
            display: inline-block;
            width: 50%;
        }

        A {
            display: inline-block;
            width: 100%;
        }
    }

    .icon-like, .icon-trash {
        font-size: 1.25em;
    }

    .discarded {
        visibility: hidden;
    }

    .kept .inner {
        background-color: #E5FFE0;
    }



}

#feeds SECTION {
    margin-bottom: 4em;

    TABLE {
        width: 100%;
    }
}
