[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

MAIN {
    height: 100%;
    padding: 1em;
}

FIELDSET {
    border: 0;
}

.flex-wrapper {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

#entries {

    .entry {
        .inner {
            border: 1px solid #ccc;
        }

        HEADER, .body {
            padding: .25em .5em;
        }

        .cap {
            font-size: .6em;
            padding-bottom: .25em;
            height: 1.5em;
        }

        .boot {
            font-size: .75em;
        }

        .headline {
            display: block;
            height: 3.5em;
            overflow: hidden;
            border-bottom: 1px solid #ccc;
        }

        .body {
            font-size: .75em;

            UL {
                font-size: 1em;
            }
        }

        .discussions {
            height: 2em;

            SPAN {
                padding-right: 1em;
            }

            SPAN:last-child {
                padding-right: 0;
            }
        }

        P {
            font-size: 1em;
            margin-bottom: 0;
            overflow: hidden;
            white-space: nowrap;
        }

        FOOTER {
            A {
                display: block;
                width: 100%;
                height: 2em;
            }

            .unsaved {
                background: #ccc data-uri('../svg/star-empty.svg') no-repeat center;
            }

            .saved {
                background: #ccc data-uri('../svg/star-filled.svg') no-repeat center;
            }
        }

    }

    .discarded .inner {
        background-color: #f5f5f5;
        color: #ccc;

        A {
            color: #ccc;
        }
    }

    .kept .inner {
        background-color: #ffffe9;
    }
}

#feeds SECTION {
    margin-bottom: 4em;

    TABLE {
        width: 100%;
    }

    .subaction {
        display: block;
        font-size: .8em;
    }

}

.sort {
    background-color: #666;
    color: white;

    A {
        color: white;
    }
}

THEAD TH A {
    display: block;
}

.sortAsc .sort A:after {
    content: ' \25BC';
}

.sortDesc .sort A:after {
    content: ' \25B2';
}

#pager {
    background-color: #ccc;
    color: black;
    font-size: .75em;
    justify-content: center;
    -webkit-justify-content: center;

    .hidden {
        visibility: hidden;
    }

    .current {
        padding: 0 1em;
    }

    A {
        display: inline-block;
        padding: .5em 1em;
        text-transform: uppercase;
        color: #333;
    }

    A:hover {
        background-color: #666;
        color: white;
    }

}


.error {
    color: red;
}