<div ng-cloak ng-hide="entries.length > 0">
    Nothing to show!
</div>

<div ng-cloak ng-show="unhandled_entries == 0 && entries.length > 0" class="text-center">
    <a href="#" ng-click="refresh()" class="button">MORE</a>
</div>

<ul id="entries" class="small-block-grid-1 medium-block-grid-3 large-block-grid-5">
    <li class="entry" ng-repeat="entry in entries" ng-class="{discarded: entry.discarded, kept: entry.kept}">
        <div class="border">
            <div class="inner">
                <p class="domain text-right">{{ entry.domain }}</p>
                <a class="headline"  ng-href="{{entry.url}}" target="_blank">{{ entry.title }}</a>

                <ul class="discussions inline-list">
                    <li ng-if="entry.reddit_link">
                        <a ng-href="{{entry.reddit_link}}" target="_blank">Reddit: {{ entry.reddit_comments}}</a>
                    </li>
                    <li ng-if="entry.hn_link">
                        <a ng-href="{{entry.hn_link}}" target="_blank">Hacker News</a>
                    </li>
                </ul>


                <div class="dates text-center" ng-bind="entry.date | amCalendar"></div>
            </div>

            <ul class="button-group">
                <li><a href="#" ng-click="keep(entry)" class="button secondary"><span class="icon-like"></span></a></li>
                <li><a href="#" ng-click="discard(entry)" class="button secondary"><span class="icon-trash"></span></a></li>
            </ul>
        </div>
    </li>
</ul>
