<div ng-cloak ng-show="listSize == 0">
    This list is empty.
</div>

<ul id="entries" class="small-block-grid-1 medium-block-grid-3 large-block-grid-5">
    <li class="entry" ng-repeat="entry in entries" ng-class="entry.state">
        <div class="inner">
            <header>
                <div class="cap text-right">{{ entry.date | amCalendar}}</div>
                <a class="headline"  ng-href="{{entry.url}}" target="_blank">{{ entry.title }}</a>
            </header>
            <div class="body">
                <div class="domain"><a ng-href="http://{{ entry.domain }}" target="_blank">{{ entry.domain }}</a></div>

                <ul class="discussions inline-list">
                    <li ng-if="entry.redditLink">
                        <a ng-href="{{entry.redditLink}}" target="_blank">Reddit: {{ entry.redditComments}}</a>
                    </li>
                    <li ng-if="entry.hnLink">
                        <a ng-href="{{entry.hnLink}}" target="_blank">Hacker News</a>
                    </li>
                </ul>

            </div>

            <footer>
                <a href="#" ng-show="entry.state != 'kept'" ng-click="setEntryState('kept', entry)" class="text-center"><span class="icon-star"></span></a>
                <a href="#" ng-show="entry.state == 'kept'" ng-click="setEntryState('discarded', entry)" class="text-center"><span class="icon-trash"></span></a>
            </footer>
        </div>
    </li>
</ul>
