<div class="flex-wrapper text-center" ng-show="listSize == 0" ng-cloak>
    <p>There are no {{ listName }} entries.</p>
</div>

<ul id="entries" class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
    <li class="entry" ng-repeat="entry in entries" ng-class="entry.state">
        <div class="inner">
            <header>
                <a class="headline"  ng-href="{{entry.url}}" target="_blank">{{ entry.title }}</a>
            </header>
            <div class="body">
                <p class="domain">From <a href="http://{{ entry.domain }}" target="_blank">{{ entry.domain }}</a></p>
                <p>Added {{ entry.added | amCalendar}}</p>

                <p class="discussions" ng-show="entry.redditLink || entry.hnLink">
                    <span ng-if="entry.redditLink">
                        <a ng-href="{{entry.redditLink}}" target="_blank">
                            <ng-pluralize count="entry.redditComments"
                                          when="{'0': 'No comments',
                                                'one': '1 comment',
                                                'other': '{} comments'}">
                            </ng-pluralize>
                            on Reddit</a>
                    </span>
                    <span ng-if="entry.hnLink">
                        <a ng-href="{{entry.hnLink}}" target="_blank">
                            <ng-pluralize count="entry.hnComments"
                                          when="{'0': 'No comments',
                                                'one': '1 comment',
                                                'other': '{} comments'}">
                            </ng-pluralize>
                            on Hacker News</a>
                    </span>
                </p>

            </div>

            <footer>
                <a href="#" ng-show="entry.state != 'saved'" ng-click="setEntryState('saved', entry)" class="text-center unsaved"></a>
                <a href="#" ng-show="entry.state == 'saved'" ng-click="setEntryState('discarded', entry)" class="text-center saved"></a>
            </footer>
        </div>
    </li>
</ul>
