<form id="feeds" ng-submit="add()">
    <section>
        <div class="row">
            <div class="large-12 columns">
                <h2>Subscribe to a Feed</h2>
            </div>
        </div>
        <div class="row">

            <div class="medium-3 columns">
                <label>
                    <input type="text" ng-model="name" id="name" name="name" value="" size="50" placeholder="Name" />
                </label>
            </div>
            <div class="medium-7 columns">
                <label>
                    <input type="text" ng-model="url" id="url" name="url" value="" size="50" placeholder="URL" />
                </label>
            </div>
            <div class="medium-2 columns">
                <input type="submit" class="button postfix" />
            </div>

        </div>
    </section>

    <section>

        <div class="row">
            <div class="large-12 columns">
                <h2>Active Subscriptions</h2>
            </div>
            <div class="large-12 columns">
                <p ng-show="feeds.length == 0">You aren't subscribed to any feeds.</p>

                <table ng-show="feeds.length > 0">
                    <thead>
                        <tr>
                            <th width="200">Name</th>
                            <th>URL</th>
                            <th width="150">Checked</th>
                            <th width="150">Added</th>
                            <th width="50"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="feed in feeds">
                            <td>{{ feed.name }}</td>
                            <td><a ng-href="{{feed.url}}" target="_blank">{{ feed.url }}</a></td>
                            <td><span ng-bind="feed.checked | amCalendar"></span></td>
                            <td><span ng-bind="feed.added | amCalendar"></span></td>
                            <td><a ng-click="remove()" href=""><span class="icon-trash"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</form>
