<form id="feeds" name="newFeedForm" ng-submit="add(feed)" novalidate="novalidate">
    <section>
        <div class="row">
            <div class="large-12 columns">
                <h2>Subscribe to a Feed</h2>
            </div>
        </div>
        <div class="row">

            <div class="medium-3 columns">
                <label ng-class="{'error': newFeedForm.name.$invalid}">
                    <input type="text" ng-model="feed.name" id="name" name="name" value="" size="50" placeholder="Name" required="required" ng-minlength="3" ng-maxlength="20" autocomplete="off" />
                </label>
                <div ng-show="newFeedForm.name.$invalid && newFeedForm.submitted">
                    <small class="error" ng-show="newFeedForm.name.$error.required">This field is required</small>
                    <small class="error" ng-show="newFeedForm.name.$error.minlength">That name is too short</small>
                    <small class="error" ng-show="newFeedForm.name.$error.maxlength">That name is too long</small>
                </div>

            </div>
            <div class="medium-7 columns">
                <label ng-class="{'error': newFeedForm.url.$invalid}">
                    <input type="url" ng-model="feed.url" id="url" name="url" value="" size="50" placeholder="URL" required="required" autocomplete="off" />
                </label>
                <div ng-show="newFeedForm.url.$invalid && newFeedForm.submitted">
                    <small class="error" ng-show="newFeedForm.url.$error.required">This field is required</small>
                    <small class="error" ng-show="newFeedForm.url.$error.url">That's not a valid URL</small>
                </div>
            </div>
            <div class="medium-2 columns">
                <input type="submit" class="button postfix" />
            </div>
        </div>
    </section>

    <section>

        <div class="row">
            <div class="large-12 columns">
                <h2>Active Subscriptions</h2>
            </div>
            <div class="large-12 columns">
                <p>
                    You are
                    <span ng-pluralize count="feeds.length" when="{'0': 'not subscribed to any feeds', 'one': 'subscribed to 1 feed', 'other': 'subscribed to {} feeds'}"></span>
                </p>

                <table ng-show="feeds.length > 0">
                    <thead>
                        <tr ng-class="{'sortAsc': sortDirection === 'asc', 'sortDesc': sortDirection === 'desc'}" >
                            <th width="200" ng-class="{'sort': sortField === 'name'}"><a ng-click="sortBy('name')" href="">Name</a></th>
                            <th width="175" ng-class="{'sort': sortField === 'added'}"><a ng-click="sortBy('added')" href="">Added</a></th>
                            <th width="175" ng-class="{'sort': sortField === 'checked'}"><a ng-click="sortBy('checked')" href="">Last Checked</a></th>
                            <th width="175" ng-class="{'sort': sortField === 'updated'}"><a ng-click="sortBy('updated')" href="">Last Updated</a></th>
                            <th width="50"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="feed in feeds">
                            <td><a ng-href="{{feed.url}}" target="_blank">{{ feed.name }}</a></td>
                            <td><span ng-bind="feed.added | amCalendar"></span></td>
                            <td><span ng-bind="(feed.checked | amCalendar) || 'never'"></span></td>
                            <td><span ng-bind="(feed.updated | amCalendar) || 'never'"></span></td>
                            <td><a ng-click="remove()" href=""><span class="icon-trash"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</form>
