<!doctype html>
<html ng-app="App" class="no-js" lang="en" >
    <head>
        <title>Headlines</title>
        <link href="/favicon.ico" rel="shortcut icon" />
        <script src="/modernizr.js"></script>
        <link rel="stylesheet" href="/headlines.css" />
    </head>
    <body>
        <div class="fixed">
            <nav class="top-bar" data-topbar="">
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="/">Headlines</a></h1>
                    </li>
                </ul>


                <section class="top-bar-section" ng-cloak>
                    <ul class="right">
                        <li class="divider"></li>
                        <li ng-class="{active: list_name == 'queued'}"><a href="/entries/queued/">Queued</a></li>
                        <li class="divider"></li>
                        <li ng-class="{active: list_name == 'kept'}"><a href="/entries/kept/">Kept</a></li>
                        <li class="divider"></li>
                        <li ng-class="{active: list_name == 'feeds'}"><a href="/feeds">Feeds</a></li>
                    </ul>
                    <ul class="right" ng-show="list_name == 'queued' && list_size > 0">
                        <li class="has-form">
                            <a href="#" ng-click="setEntryState('kept')" class="button success">
                                <span class="icon-star"></span>
                                <span ng-show="kept_count > 0">THE REST</span>
                                <span ng-show="kept_count == 0">ALL</span>
                            </a>
                        </li>
                        <li class="has-form">
                            <a href="#" ng-click="setEntryState('discarded')" class="button alert">
                                <span class="icon-trash"></span>
                                <span ng-show="kept_count > 0">THE REST</span>
                                <span ng-show="kept_count == 0">ALL</span>
                            </a>
                        </li>
                    </ul>


                </section>
            </nav>
        </div>
        <main ng-view></main>
        <script src="/headlines.js"></script>
    </body>
</html>
