<!doctype html>
<html ng-app="App" class="no-js" lang="en" >
    <head>
        <title>Headlines</title>
        <link href="/favicon.ico" rel="shortcut icon" />
        <link rel="stylesheet" href="/headlines.css" />
    </head>
    <body>
        <div class="fixed">
            <nav class="top-bar" data-topbar="">
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="/">Headlines</a></h1>
                    </li>
                </ul>


                <section class="top-bar-section" ng-cloak>
                    <ul class="left" ng-show="listSize > 0">
                        <li class="has-form">
                            <form name="searchForm" ng-controller="ListController" ng-submit="search(query)" class="row collapse" novalidate>
                                <div class="large-8 small-9 columns">
                                    <input type="text" ng-model="query.terms" />
                                </div>
                                <div class="large-4 small-3 columns">
                                    <a href="#" ng-click="search(query)" class="success button expand">Search</a>
                                </div>
                            </form>
                        </li>
                    </ul>

                    <ul class="right">
                        <li class="divider"></li>
                        <li ng-class="{active: listName == 'unread'}"><a href="/entries/unread/">Unread</a></li>
                        <li class="divider"></li>
                        <li ng-class="{active: listName == 'saved'}"><a href="/entries/saved/">Saved</a></li>
                        <li class="divider"></li>
                        <li ng-class="{active: listName == 'feeds'}"><a href="/feeds">Feeds</a></li>
                    </ul>
                    <ul class="right" ng-show="listName == 'unread' && listSize > 0">
                        <li class="has-form">
                            <a href="#" ng-click="setEntryState('saved')" class="button radius success">
                                Save
                                <span ng-show="savedCount > 0">the rest</span>
                                <span ng-show="savedCount == 0">all</span>
                            </a>
                        </li>
                        <li class="has-form">
                            <a href="#" ng-click="setEntryState('discarded')" class="button radius alert">
                                Ignore
                                <span ng-show="savedCount > 0">the rest</span>
                                <span ng-show="savedCount == 0">all</span>
                            </a>
                        </li>
                    </ul>
                </section>
            </nav>
        </div>
        <main ng-view></main>

        <div id="screen-size">
            <span class="show-for-small-only"></span>
            <span class="show-for-medium-only"></span>
            <span class="show-for-large-only"></span>
            <span class="show-for-xlarge-only"></span>
            <span class="show-for-xxlarge-up"></span>
        </div>

        <script src="/headlines.js"></script>

        <!-- livereload placeholder -->
    </body>
</html>
