<main class="flex-wrapper">
    <form id="single-form" name="signupForm" ng-submit="signup()" class="onebox signup" novalidate>
        <fieldset>
            <h1>Sign up for an account</h1>

            <div class="field error" ng-show="message">{{ message }}</div>

            <div class="field">
                <label for="signup_username">Email Address</label>
                <input type="text" id="signup_username" name="signup_username" ng-model="signup.username" autofocus="autofocus" required />
            </div>

            <div class="field">
                <label for="signup_password">Password</label>
                <input type="password" id="signup_password" name="signup_password" ng-model="signup.password" required />
            </div>

            <div class="field">
                <button ng-disabled="signup.$invalid">sign up</button>
            </div>
        </fieldset>
    </form>
</main>
