<div class="flex-wrapper text-center" ng-show="listSize == 0" ng-cloak>
    <p>There are no {{ listName }} entries.</p>
</div>

<ul id="entries" class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
    <li class="entry" ng-repeat="entry in entries" ng-class="entry.state">
        <div id="entry-{{entry.id}}" class="inner">
            <header>
                <a class="headline" ng-href="{{entry.url}}" target="_blank" rel="noreferrer">{{ entry.title }}</a>
            </header>
            <div class="body">
                <p class="domain">From <a href="http://{{ entry.domain }}" target="_blank" rel="noreferrer">{{ entry.domain }}</a></p>
                <p>{{ entry.added | reldate | date:'MMMM d' }} at {{ entry.added | date:'h:mm a' }}</p>

                <p class="discussions">
                    <span ng-if="entry.stackComments">
                        <ng-pluralize count="entry.stackComments"
                                      when="{'0': 'No answers',
                                            'one': '1 answer',
                                            'other': '{} answers'}">
                        </ng-pluralize>
                    </span>

                    <span ng-if="entry.redditLink">
                        <a ng-href="{{entry.redditLink}}" target="_blank" rel="noreferrer">
                            <ng-pluralize count="entry.redditComments"
                                          when="{'0': 'No Reddit comments',
                                                'one': '1 Reddit comment',
                                                'other': '{} Reddit comments'}">
                            </ng-pluralize>
                        </a>
                    </span>
                    <span ng-if="entry.hnLink">
                        <a ng-href="{{entry.hnLink}}" target="_blank" rel="noreferrer">
                            <ng-pluralize count="entry.hnComments"
                                          when="{'0': 'No HN comments',
                                                'one': '1 HN comment',
                                                'other': '{} HN comments'}">
                            </ng-pluralize>
                        </a>
                    </span>
                </p>

            </div>

            <footer>
                <a href="#" ng-show="entry.state != 'saved'" ng-click="setEntryState('saved', entry)" class="text-center unsaved"></a>
                <a href="#" ng-show="entry.state == 'saved'" ng-click="setEntryState('discarded', entry)" class="text-center saved"></a>
            </footer>
        </div>
    </li>
</ul>
