<div class="wrapper">
    <form name="newFeedForm" ng-submit="add(feed)" novalidate="novalidate">

        <div class="row">
            <h2>Subscribe to a Feed</h2>
        </div>
        <div class="row">
            <div class="field">
                <label ng-class="{'error': newFeedForm.name.$invalid}">
                    <input type="text" ng-model="feed.name" id="name" name="name" value="" placeholder="Name" required="required" ng-minlength="2" ng-maxlength="50" autocomplete="off" />
                </label>
                <div ng-show="newFeedForm.name.$invalid && newFeedForm.submitted">
                    <small class="error" ng-show="newFeedForm.name.$error.required">This field is required</small>
                    <small class="error" ng-show="newFeedForm.name.$error.minlength">That name is too short</small>
                    <small class="error" ng-show="newFeedForm.name.$error.maxlength">That name is too long</small>
                </div>
            </div>
            <div class="field">
                <label ng-class="{'error': newFeedForm.url.$invalid}">
                    <input type="url" ng-model="feed.url" id="url" name="url" value="" placeholder="URL" required="required" autocomplete="off" />
                </label>
                <div ng-show="newFeedForm.url.$invalid && newFeedForm.submitted">
                    <small class="error" ng-show="newFeedForm.url.$error.required">This field is required</small>
                    <small class="error" ng-show="newFeedForm.url.$error.url">That's not a valid URL</small>
                </div>
            </div>
            <div class="field">
                <button>Subscribe</button>
            </div>
        </div>
        <div class="row" ng-show="addMessage">
            <div class="small-12 columns error">
                <p>{{ addMessage }}</p>
            </div>
        </div>
    </form>
</div>

<div class="wrapper">
    <div class="row">
        <a ng-show="importPhase == 'start'" ng-click="importPhase = 'form'" href="" class="subaction">Import OPML</a>

        <form name="importForm" ng-show="importPhase == 'form'">
            <div file-upload="import(files)"></div>
            <a ng-click="importPhase = 'start'" href="" class="subaction">Cancel import</a>
            <div ng-show="importPhase == 'result'">
                {{ importMessage }}
                <a ng-click="importPhase = 'start'" class="subaction">Dismiss</a>
            </div>
        </form>
    </div>
</div>

<div class="wrapper">
    <div class="row">
        <h2>Subscribed Feeds</h2>

        <p class="error" ng-show="removeMessage">
            {{ removeMessage }}
        </p>
        <p>
            You are
            <span ng-pluralize count="feeds.length" when="{'0': 'not subscribed to any feeds.', 'one': 'subscribed to 1 feed.', 'other': 'subscribed to {} feeds.'}"></span>

            <a class="subaction" ng-show="feeds.length > 0" href="" ng-click="export($event)">Export as OPML</a>
            <a href="" download="feeds.opml"></a>
        </p>

        <table ng-show="feeds.length > 0">
            <thead>
                <tr ng-class="{'sortAsc': sortDirection === 'asc', 'sortDesc': sortDirection === 'desc'}" >
                    <th width="200" ng-class="{'sort': sortField === 'name'}"><a ng-click="sortBy('name')" href="">Name</a></th>
                    <th width="175" ng-class="{'sort': sortField === 'subscribed'}"><a ng-click="sortBy('subscribed')" href="">Subscribed</a></th>
                    <th width="175" ng-class="{'sort': sortField === 'updated'}"><a ng-click="sortBy('updated')" href="">Last Updated</a></th>
                    <th width="175" ng-class="{'sort': sortField === 'prevCheck'}"><a ng-click="sortBy('prevCheck')" href="">Previous Check</a></th>
                    <th width="175" ng-class="{'sort': sortField === 'nextCheck'}"><a ng-click="sortBy('nextCheck')" href="">Next Check</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="feed in feeds">
                    <td><a ng-href="{{feed.url}}" data-feed-id="{{ feed.id }}" target="_blank" rel="noreferrer">{{ feed.name }}</a></td>
                    <td>
                        {{ feed.subscribed | reldate | date:'MMM d, yyyy' }}
                        <p><a class="subaction" ng-click="remove()" href="">Unsubscribe</a></p>
                    </td>
                    <td>
                        {{ feed.updated | reldate | date:'MMM d, yyyy' }}
                        <div class="subaction">at {{ feed.updated | date:'h:mm a' }}</div>

                    </td>
                    <td>
                        {{ feed.prevCheck | reldate | date:'MMM d, yyyy' }}
                        <div class="subaction">{{ feed.prevCheck | date:'h:mm a' }}</div>
                    </td>
                    <td>
                        {{ feed.nextCheck | date:'h:mm a' }}, {{ feed.nextCheck | reldate | date:'MMM d' }}
                        <p><a class="subaction" ng-click="reschedule()" href="">Check now</a></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
