<!doctype html>
<html ng-app="App" ng-controller="AppController" class="no-js" lang="en" >
    <head>
        <title>Headlines</title>
        <link href="/favicon.ico" rel="shortcut icon" />
        <link rel="stylesheet" href="/css/lib.min.css" />
        <link rel="stylesheet" href="/css/app.min.css" />
    </head>
    <body>
        <nav class="nav-bar">

            <div class="panel">
                <h1 class="appname">Headlines</h1>
            </div>

            <ul class="right panel" ng-show="user.loggedIn" ng-cloak>
                <li ng-show="listName == 'unread' && listSize > 0">
                    <a href="#" class="action" ng-click="setEntryState('saved')">
                        Save
                        <span ng-show="savedCount > 0">the rest</span>
                        <span ng-show="savedCount == 0">all</span>
                    </a>
                </li>
                <li ng-show="listName == 'unread' && listSize > 0">
                    <a href="#" class="action" ng-click="setEntryState('discarded')">
                        Ignore
                        <span ng-show="savedCount > 0">the rest</span>
                        <span ng-show="savedCount == 0">all</span>
                    </a>
                </li>
                <li><a ng-class="{active: listName == 'unread'}" href="/entries/unread/">Unread</a></li>
                <li><a ng-class="{active: listName == 'saved'}" href="/entries/saved/">Saved</a></li>
                <li><a ng-class="{active: listName == 'feeds'}" href="/feeds">Feeds</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </nav>

        <div ng-show="showPager" class="pager flex-wrapper">
            <div ng-class="{hidden: page == 1}"><a href="{{ prevLink }}">Previous Page</a></div>
            <div class="current">Page {{ page }} of {{ pageCount }}</div>
            <div ng-class="{hidden: page == pageCount}"><a href="{{ nextLink }}">Next Page</a></div>
        </div>

        <main ng-view></main>

        <div id="screen-size">
            <span class="show-for-small-only"></span>
            <span class="show-for-medium-only"></span>
            <span class="show-for-large-only"></span>
            <span class="show-for-xlarge-only"></span>
            <span class="show-for-xxlarge-up"></span>
        </div>

        <script src="/headlines.js"></script>

        <!-- livereload placeholder -->
    </body>
</html>
